<launch>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="origin_x_"/>
  <arg name="origin_y_"/>
  <arg name="origin_yaw_"/>

  <param name="tb3_model" value="$(arg model)"/>

  <!-- <include file="$(find turtlebot3_bringup)/launch/includes/description.launch">
    <arg name="model" value="$(arg model)" />
  </include> -->

  <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen" >
    <param name="origin_x" value="$(arg origin_x_)" />
    <param name="origin_y" value="$(arg origin_y_)" />
    <param name="origin_yaw" value="$(arg origin_yaw_)" />
  </node>

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_fake)/rviz/turtlebot3_fake.rviz"/> -->
</launch>
